.container {
  max-width: 1000px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0 auto;

  & header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .posts {
    .list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
